<div class="admin-page">
    <div class="category-list">
        <h3>Liste</h3>
        <% if (categories && categories.length) { %> 
            <% for (let i=0; i < categories.length; i++ ) { %>
                <% if (categories[i].isPublic) { %> 
                    <button class="btn"><%= categories[i].name %></button>
                <% } else { %> 
                    <button class="btn warning"><%= categories[i].name %></button>
                <% } %>
            <% } %>
        <% } %>
    </div>

    <div class="category-creation">
        <h3>Création</h3>
        <form action="/administration/category" method="POST">
            <div class="form-group">
                <label for="cat_name">Nom</label>
                <input type="text" id="cat_name" name="cat_name" maxlength="100"
                    placeholder="Nom de la categorie" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="cat_description">Description</label>
                <textarea class="form-control" name="cat_description" id="cat_description" cols="30" rows="5" placeholder="Description de la categorie"></textarea>
            </div>
            <div class="form-group-row">
                <label for="cat_is_public">Est-elle publique (sinon privée..)</label>
                <input type="checkbox" name="cat_is_public" id="cat_is_public">
            </div>

            <button type="submit" class="btn ternary">Sauvegarder</button>
        </form>
    </div>
</div>