<div class="admin-page">
    <h2>Actions</h2>
    <div class="admin-actions">
        <a href="/administration/user/all" class="btn btn-ternary">Liste des Utilisateurs</a>
        <a href="/administration/categories" class="btn btn-ternary">Liste des Categories (News)</a>
        <a href="/administration//rebuild-categories" class="btn btn-ternary">reconstruire les categories d'instruments</a>
        <a href="/administration//rebuild-instruments" class="btn btn-ternary">reconstruire les instruments</a>
    </div>
</div>
