<div class="admin-page">
    <% if (user) { %> 
        <h2>User single</h2>
        <%= user.username %> 
    <% } %>
    
    <a href="/administration/user/all" class="btn btn-ternary">Retour a la liste</a>
</div>