<div class="admin-page">
    <table>
        <tr>
            <td>Username</td>
            <td>Active</td>
            <td>Delete</td>
        </tr>
        <% if (users && users.length) { %> 
            <% for (let i=0; i < users.length; i++ ) { %>
                <tr>
                    <td>
                        <a href="/administration/user/<%= users[i].id %>" class="btn btn-link">
                            <%= users[i].username %>
                        </a>
                    </td>
                    <td><% if (users[i].active) { %>🟢<% } %></td>
                    <td>
                        <form method="POST" action="/administration/delete-user?_method=DELETE">
                            <input type="hidden" name="user_id" value="<%= users[i].id %>">
                            <input class="delete_btn" type="submit" value="🗑">
                        </form>
                    </td>
                </tr>
            <% } %>
        <% } %>
    </table>
</div>