.spinner {
  height: 10rem;
  width: 10rem;
  position: relative;
  margin: auto;
}

.spinner div {
  position: absolute;
  height: 100%;
  width: 100%;
}

.spinner div span {
  display: block;
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--primary);
  border-radius: 50%;
  top: .75rem;
  left: calc(50% - .25rem);
  -webkit-animation: lightIt 2500ms linear infinite;
          animation: lightIt 2500ms linear infinite;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: .1;
}

.spinner h5 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -8.25rem;
  text-align: center;
}

.spinner div:nth-child(0) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.spinner div:nth-child(0) span {
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}

.spinner div:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.spinner div:nth-child(1) span {
  -webkit-animation-delay: 312.5ms;
          animation-delay: 312.5ms;
}

.spinner div:nth-child(2) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.spinner div:nth-child(2) span {
  -webkit-animation-delay: 625ms;
          animation-delay: 625ms;
}

.spinner div:nth-child(3) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.spinner div:nth-child(3) span {
  -webkit-animation-delay: 937.5ms;
          animation-delay: 937.5ms;
}

.spinner div:nth-child(4) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.spinner div:nth-child(4) span {
  -webkit-animation-delay: 1250ms;
          animation-delay: 1250ms;
}

.spinner div:nth-child(5) {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.spinner div:nth-child(5) span {
  -webkit-animation-delay: 1562.5ms;
          animation-delay: 1562.5ms;
}

.spinner div:nth-child(6) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.spinner div:nth-child(6) span {
  -webkit-animation-delay: 1875ms;
          animation-delay: 1875ms;
}

.spinner div:nth-child(7) {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.spinner div:nth-child(7) span {
  -webkit-animation-delay: 2187.5ms;
          animation-delay: 2187.5ms;
}

.spinner div:nth-child(8) {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.spinner div:nth-child(8) span {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}

@-webkit-keyframes lightIt {
  0% {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  35% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 20px 5px #ffffff17;
            box-shadow: 0 0 20px 5px #ffffff17;
  }
  50% {
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: 1;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  65% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  100% {
    opacity: .1;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes lightIt {
  0% {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  35% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 20px 5px #ffffff17;
            box-shadow: 0 0 20px 5px #ffffff17;
  }
  50% {
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: 1;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  65% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  100% {
    opacity: .1;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
/*# sourceMappingURL=spinner.css.map */