$time: 2500ms;

.spinner {
    height: 10rem;
    width: 10rem;
    position: relative;
    margin: auto;
    // border: 1px solid #000;

    div {
        position: absolute;
        height: 100%;
        width: 100%;
        // border: 1px solid red;

        span {
            display: block;
            position: absolute;
            width: 1rem;
            height: 1rem;
            background-color: var(--primary);
            border-radius: 50%;
            top: .75rem;
            left: calc(50% - .25rem);
            animation: lightIt $time linear infinite;
            transition: .5s;
            opacity: .1;
        }
    }

    h5 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -8.25rem;
        text-align: center;
    }
}

$angle: 360/8;
$spanTime: $time/8;
@for $i from 0 through 8 {
    $deg: $i * $angle;
    .spinner div:nth-child(#{$i}) {
        transform: rotate($deg + deg);
        span {
            animation-delay: $i * $spanTime;
        }
    }
}

@keyframes lightIt {
    0% {
        box-shadow: none;
        transform: scale(.7);
    }
    35% {
        transform: scale(1);
        box-shadow: 0 0 20px 5px #ffffff17;
    }
    50% {
        box-shadow: none;
        opacity: 1;
        transform: scale(1.25);
    }
    65% {
        transform: scale(1);
        box-shadow: none;
    }
    100% {
        opacity: .1;
        box-shadow: none;
    }
}