<div class="map-page" id="map"></div>
<% if (dataJson) { %>
    <input type="hidden" id="string" value="<%= dataJson %>">
<% } %>

<script>
    const string = document.getElementById("string")
    let stringObject = JSON.parse(string.value)
    const dataJson = stringObject.users
    const latitude = !dataJson ? 45.285044 : dataJson.latitude ? dataJson.latitude : 45.285044
    const longitude = !dataJson ? 4.686671 : dataJson.longitude ? dataJson.longitude : 4.686671
    const brightLink = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
    const darkLink = 'https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png'
    const smoothLink = 'https://tiles.stadiamaps.com/tiles/alidade_smooth_dark/{z}/{x}/{y}{r}.png'
    const hasNecessaryValues = (i) => { return Number(dataJson[i].latitude) && Number(dataJson[i].longitude) && dataJson[i].instruments[0] }

    // Creating map 
    getCenter = () => {
        let l = 0
        let L = 0
        let x = 0
        for (let i = 0; i < dataJson.length; i++) {
            if (hasNecessaryValues(i)) {
                l += dataJson[i].latitude
                L += dataJson[i].longitude
                x++
            }
        }
        return [(l / x), (L / x)]
    }
    const mapOptions = {
        center: stringObject.userSelected ? stringObject.userSelected : getCenter(),
        zoom: stringObject.userSelected ? 15 : 7,
        minZoom: 6,
        maxZoom: 18,
    }
    const map = new L.map('map', mapOptions)
    const layer = new L.TileLayer(darkLink)

    map.addLayer(layer)
    map.on("click", function (e) {
        let latitude = e.latlng.lat
        let longitude = e.latlng.lng
    })

    // Attribution options
    const attrOptions = {
        prefix: 'attribution sample'
    };

    // Creating scale control
    const scale = L.control.scale();
    scale.addTo(map);

    // Create marker
    for (let i = 0; i < dataJson.length; i++) {
        if (hasNecessaryValues(i)) {
            const text = `
                <h3 class="name">${dataJson[i].username}</h3>
                <div class="instrument">
                    <img src="${dataJson[i].instruments[0].category.imageUrl}"/>
                    <p class="instrument-text">
                        ${dataJson[i].instruments[0].name}
                        <span>${dataJson[i].level}</span>
                    </p>
                </div>
                <p class="place">
                    <img src="/icon/point.svg">
                    ${dataJson[i].place}
                </p>
                <div class="action-bar">
                    <custom-button
                        size="s"
                        link="/app/messagerie/new?username=${dataJson[i].username}"
                        type="ternary"
                        rounded
                    >Message</custom-button>
                    <custom-button
                        size="s"
                        link="/app/account/user-details/${dataJson[i].username}"
                        type="ternary"
                        rounded
                    >+</custom-button>
                </div>
            `;
            
            console.log(dataJson[i].instruments[0].category.imageUrl);
            const filename = dataJson[i].instruments[0].name.trim().toLowerCase();
            const iconOptions = {
                iconUrl: `${dataJson[i].instruments[0].category.imageUrl}`,
                iconSize: [50, 50]
            }
            const customIcon = L.icon(iconOptions);

            const markerOptions = {
                title: dataJson[i].username,
                clickable: true,
                draggable: false,
                icon: customIcon
            }

            const marker = new L.Marker([dataJson[i].latitude, dataJson[i].longitude], markerOptions);

            marker.bindPopup(text).openPopup()
            marker.addTo(map);
        }
    }

    //Transform a from leaflet attribution to p (disable link)
    let attribution = document.querySelector('.leaflet-control-attribution')
    let a = document.querySelector('.leaflet-control-attribution > a')
    let p = document.createElement('p')
    p.title = attribution.title
    p.innerHTML = '&copy; ' + attribution.textContent
    a.remove()
    attribution.appendChild(p)

</script>