@import "./shared/variables.scss";
@import "./shared/layout.scss";
@import "./shared/form.scss";
@import "./shared/comon.scss";
@import "./spinner/spinner.scss";
/* @import './shared/font.css'; */
/* @import './shared/header.css'; */
/* @import './shared/button.css'; */
/* @import './shared/menu.css'; */

// https://dev.to/mnathani/two-lines-of-css-that-boosts-7x-rendering-performance-4mjd
// https://developer.mozilla.org/en-US/docs/Web/CSS/content-visibility
// {
//     content-visibility: auto;
//     contain-intrinsic-size: 1px 5000px;
// }

html,
body {
    scroll-behavior: smooth;
    line-height: 1.5;
}

#geolocation_err {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    transition: 0.4s;
    color: var(--text);
    background-color: var(--warning);
    z-index: 1000;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // text-align: center;
    // border: 1px solid var(--warning);
    // border-radius: .2rem;
    // margin: 1rem .5rem;
}

.move-left {
    animation: moveL 1s ease-in forwards;
    position: relative;
}

@keyframes moveL {
    0% {
        left: 0;
    }

    100% {
        left: -100vw;
    }
}

a {
    text-decoration: none;
    filter: brightness(0.9);
}

a:hover {
    filter: brightness(1);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.h2,
h2 {
    font-size: 1.875rem;
}

hr {
    color: var(--muted-hover);
}

.map-page {
    height: calc(100vh - 7rem) !important;
    width: 100vw !important;
}

.btn {
    cursor: pointer;
    position: relative;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    display: inline-block;
    font-weight: 400 !important;
    font-style: bold;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    padding: 0.5rem 0.75rem;
    font-size: 0.9375rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

.btn-login {
    max-width: 20rem;
    background-color: var(--ternary);
    font-weight: bold;
    border: 1px solid var(--ternary);

    span {
        color: var(--primary);
    }

    &:hover {
        color: var(--primary);
        filter: brightness(1.1);
    }

    &:hover span {
        color: var(--text);
    }
}

.btn.secondary {
    background-color: var(--secondary);
}
.btn.ternary {
    background-color: var(--ternary);
    padding: 0.35rem 0.85rem;
}

.btn.grey {
    background-color: #3a3f44;
    border: 1px solid #3a3f44;

    &:hover {
        border: 1px solid transparent;
    }
}

.back-link {
    padding: 0.23rem 0.75rem;
}

.delete_btn {
    background: none;
    border: none;
    cursor: pointer;
}

.delete_box {
    user-select: none;
    background: var(--darker);
    border-radius: 50%;
    display: grid;
    place-items: center;
    height: 2rem;
    width: 2rem;
}

.link_container {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem;
}

.link_action {
    user-select: none;
    cursor: pointer;
    border: 1px solid var(--ternary);
    color: var(--ternary);
    width: fit-content;
    padding: 0.3rem 0.75rem;
    margin: 0.5rem;
    border-radius: 0.2rem;

    &:hover {
        border: 1px solid var(--lighter);
        color: var(--lighter);
    }
}

// SPINNER-BOX
.spinner-box {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--darker);
    display: grid;
    align-items: center;
    z-index: 1000;
}

.install-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 70vh;

    img {
        max-width: 11rem;
        margin: 2rem auto 1rem auto;
    }

    h1 {
        font-weight: bold;
        text-align: center;
        margin: 1rem;
        margin-bottom: 0;
    }

    p {
        padding: 0 1.5rem 0.5rem 1.5rem;
        text-align: center;
        max-width: 15rem;
        font-weight: 200;
    }
}

.install-app-button {
    background-color: var(--ternary);
    margin: 1.5rem auto;
    font-size: 1.25rem;
    font-family: var(--font-primary);
}

.page-head-text {
    text-align: center;
    padding: 0.75rem 0.5rem;
}

/* HOME-PAGE */
.home-page {
    // background-image: url('https://images.unsplash.com/photo-1542813813-e6546b5d4914?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-image: url("https://images.unsplash.com/photo-1542813884-edb2d564ca91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    // padding-bottom: 10vh;

    h1 {
        font-size: 20vw;
        color: #000;
        text-shadow: 0 0 0.05rem #fff;
        animation: wordlight 25s ease-in-out infinite;
    }

    p {
        font-size: 1.25rem;
    }

    em {
        margin-top: 2rem;
        font-size: 0.85rem;
        letter-spacing: 0.1rem;
        text-align: center;
        max-width: 50vw;
    }

    .home-login,
    .home-text {
        text-align: center;
    }

    .home-text span {
        font-size: 2rem;
        font-weight: 600;
    }

    .home-user-avatar {
        max-width: 12.5rem;
    }
}

@keyframes wordlight {
    0% {
        text-shadow: 0 0 0.05rem rgba(255, 255, 255, 0.5);
    }

    50% {
        text-shadow: 0 0 0.5rem #fff;
    }

    75% {
        color: var(--text);
        text-shadow: 0 0 5rem #ffffff;
    }

    100% {
        color: var(--muted-hover);
        text-shadow: 0 0 5rem #ffffff1a;
    }
}

/* LOGIN-PAGE */
.login-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;

    h3 {
        padding: 0 1rem;
    }
}

.tiny_text {
    font-size: 0.87rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.home-login {
    .tiny_text span {
        margin-top: 0.75rem;
        font-size: 0.87rem;
    }
}

/* CATEGORY */
.category_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category_item {
    background: var(--darker);
    margin-bottom: 1rem;
    padding: 1.5rem;
    width: 100%;
}

.category_item h3 {
    color: #fff;
}

.category_item p {
    margin-left: 0.5rem;
    color: rgba(255, 255, 255, 0.5);
}

.btn-row {
    display: flex;
    justify-content: end;
    margin-bottom: 2rem;
    padding: 0 0.25rem;
    .left {
        justify-content: start;
    }
    .center {
        justify-content: center;
    }
}

/* NEWS */
.news_item {
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

    .content p {
        display: none;
        &:first-child {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 2rem;
            max-width: 80vw;
            display: block;
        }
    }

    .title {
        padding-bottom: 0.5rem;
    }
}

.news-comments {
    margin: 0.25rem;
    margin-bottom: 0.5rem;
    overflow-y: scroll;
    max-height: 20rem;
    .news-comment {
        background-color: var(--primary);
        padding: 0.25rem;
        margin: 0.25rem 0;
        border: 1px solid var(--primary);
    }
    .from {
        text-align: right;
        font-size: 0.75rem;
        font-weight: bold;
        color: var(--text-muted);
    }
    .at {
        text-align: right;
        font-size: 0.5rem;
    }
}

.comment-msg {
    p {
        margin: 0;
        padding: 0;
    }
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}

.imgNews {
    width: 100%;
}

.img_mini_container {
    max-width: 23rem;
}

.img_container {
    max-width: 23rem;
}

.comment_info {
    display: flex;
    justify-content: end;
    font-size: 0.75rem;
}

.content {
    margin: 1rem;
    line-height: 1.75rem;
    p {
        margin: 0.5rem 0;
    }
}

/* REGISTER */
.registration-page {
    padding: 1rem 0;
}

.register_form_grid {
    margin-bottom: 2rem;
}

.avatar-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    align-items: center;
}

/* STYLES */
.style_list {
    padding: 2rem;
    max-height: 50vh;
    overflow: auto;
    overscroll-behavior-y: contain;
}

.style_list li {
    background: var(--primary);
    padding: 0.8rem;
    padding-left: 1rem;
    margin-bottom: 0.2rem;
    list-style: none;
    font-size: 1.23rem;
    border-radius: 0.25rem;
}

/* Messagerie */
.message_table {
    width: 100%;
    padding: 1rem 0;
    table-layout: fixed;

    /* &tr:not(:first-child) { */
    tr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0.25rem 0;

        &:first-child {
            font-size: 0.75rem;
        }
    }

    td {
        width: 100%;
    }

    td:not(:last-child) {
        padding: 0.5rem 0.75rem;
    }
}

.is_message_read {
    text-align: center;
}

.title_table {
    background: var(--primary);
    margin-bottom: 0.75rem;
}

.table_date {
    text-align: right;

    p {
        font-size: 0.75rem;
    }
}

.flex_div {
    display: flex;
    justify-content: space-between;
}

.click_list {
    cursor: pointer;
    background: var(--primary-main);
    border: 1px solid var(--muted-hover);

    &:hover {
        background: var(--primary);
    }
}

/* CONVERSATION */
.conversation-page {
    padding: 0.5rem;
}

.conversation {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 50vh;
    border-top: 1px solid var(--muted-hover);
    border-bottom: 1px solid var(--muted-hover);
    padding: 0.75rem 0.15rem;

    h3 {
        padding: 0.5rem;
        white-space: pre-wrap;
    }

    .align_left {
        text-align: left;
        // border: 1px solid var(--primary-muted);
        border-radius: 0.5rem;
        // border-radius: .25rem 2.5rem 2.5rem .25rem;
    }

    .align_right {
        text-align: right;
        // border: 1px solid var(--primary-muted);
        border-radius: 0.5rem;
        // border-radius: 2.5rem .25rem .25rem 2.5rem;
    }
}

.conversation-usernames {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}

.new-message-page {
    height: 80vh;
    display: flex;
    flex-direction: column;

    h3 {
        padding: 1rem 0.5rem;
    }
}

// .conversation-username-box {
//     background-color: var(--muted-hover);
//     margin: 0 .25rem;
//     padding: 0 .5rem;
//     border-radius: .5rem;
//     color: var(--text-muted);
// }

.converation-msg-from-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.converation-msg-from-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.converation-msg-from-left .msg-name,
.converation-msg-from-right .msg-name {
    font-weight: 150;
    font-size: 0.85rem;
}

.converation-msg-from-left .msg-date,
.converation-msg-from-right .msg-date {
    margin: 0 0.5rem;
    font-size: 0.7rem;
    color: var(--text-muted);
    font-family: var(--font2);
    font-weight: 150;
}

.message-box {
    display: flex;
    align-items: center;
    margin: 0.25rem !important;
    background-color: var(--muted-hover);
    border-radius: 0.5rem;

    img {
        max-width: 2.5rem;
        max-height: 2.5rem;
    }
}

.message-box.left {
    justify-content: flex-start;
}

.message-box.right {
    justify-content: flex-end;
    // margin-right: 1.5rem;
}

.conversation-msg {
    background: var(--primary);
    // border-radius: .25rem;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.conversation-answer {
    margin: 1rem 0;
}

/* ACCOUNT */
#registration_level {
    margin-bottom: 0.75rem;
}

.account-page {
    padding-bottom: 1.5rem;

    .under-title {
        // text-align: center;
        padding: 1rem 0.5rem 0.5rem 0.5rem;

        img {
            width: 1rem;
            margin: 0 0.5rem;
        }
    }

    .account-head {
        padding: 0.5rem;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.5rem;
    }
}

.user-detail-page {
    p {
        text-align: center;
        padding: 0.5rem;
    }
}

.element-array {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 0.25rem;
}

.user-element-choice {
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 0.75rem;
    padding: 0 0.25rem 0 0.5rem;
    margin: 0.25rem;

    span {
        display: block;
        line-height: 0;
        font-size: 1.1rem;
        background-color: var(--text);
        color: var(--secondary);
        border-radius: 50%;
        padding: 0;
        margin-left: 0.25rem;
        height: 1rem;
        width: 1rem;
        display: grid;
        place-items: center;
    }
}

// .user-information {
//     display: flex;
//     flex-direction: column;
//     border: 1px solid var(--primary);
//     border-radius: .5rem;
//     padding: 1rem;
//     margin: 1rem 0;
//     max-width: 20rem;

//     .avatar {
//         max-height: 15rem;
//         overflow: hidden;
//         margin-bottom: 1rem;
//         display: grid;
//         place-items: center;
//     }

//     .avatar img {
//         width: auto;
//         max-height: 12rem;
//     }

//     p {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         justify-content: space-between;
//         color: var(--text-secondary);
//     }

//     p span {
//         color: var(--text);
//         margin-left: .5rem;
//     }

//     .presentation {
//         margin-left: .5rem;
//         color: var(--text);
//         white-space: pre-wrap;
//     }
// }

/* USER LIST */
.userlist-page {
    padding: 0.5rem;
    max-height: 80vh;
}

.user_list {
    max-height: 55vh;
    overflow: auto;
    overscroll-behavior-y: contain;
}

//MAP
.leaflet-popup-content-wrapper {
    background-color: var(--primary);
    border: 1px solid var(--text-muted);

    .action-bar {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0.5rem;
    }
}

.leaflet-popup-content {
    width: 70vw;
    max-width: 70vw;
    margin: 0;
    .name {
        font-size: 1.2rem;
        font-weight: 400;
        padding: 1rem;
        background-color: var(--secondary);
        border-radius: 0.6rem 0.6rem 0 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
    }
    .instrument,
    .place {
        padding: 0 0.5rem;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        img {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background: var(--text-muted);
            margin-right: .5rem;
        }
    }

    .instrument {
        font-size: 1rem;
        font-weight: 400;
        margin: 2rem 0 0 0;
        img {
            padding: .15rem;
        }
        .instrument-text {
            text-transform: capitalize;
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            span {
                text-transform: uppercase;
                font-weight: 150;
                font-size: .7rem;
            }
        }
    }
    .place {
        font-size: 0.8rem;
        font-weight: 150;
        margin: 0.75rem 0 1.5rem 0;
        img {
            padding: .25rem;
        }
    }

}

.leaflet-popup-tip {
    background-color: var(--text-muted);
}

.leaflet-popup-close-button {
    font-size: 1.5rem !important;
    right: 5px !important;
}

// .user-card {
//     display: flex;
//     flex-direction: column;
// }

// .user-card-header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// .user-card-header .style,
// .user-card-header .name {
//     font-size: 80%;
// }

// .user-card-header .name {
//     margin: 0;
// }

// .user-card-header .style {
//     color: var(--ternary)
// }

// .user-card .instruments {
//     display: flex;
//     justify-content: flex-start;
//     font-size: .85rem;
//     color: var(--ligth)
// }

// .user-card-button a {
//     font-size: 1.15rem;
//     padding: .15rem .5rem !important;
// }

.suggestions-instrument,
.suggestions-style {
    margin-top: 0.25rem;
    max-height: 10rem !important;
    overflow-y: scroll !important;
    background: rgba(0, 0, 0, 0.7);
    li {
        cursor: pointer;
        padding: 0.25rem;
        &:hover {
            background: rgba(255, 255, 255, 0.1);
        }
    }
}

.article {
    .title-news {
        padding-top: 0.5rem;
    }
    .metadata-news {
        text-align: right;
        margin-right: 0.25rem;
        color: var(--text-muted);
        font-size: 0.75rem;
        .news-date,
        .news-time {
            font-size: 0.65rem;
        }
        .username {
            font-size: 1rem;
            color: var(--text);
            margin: 0 0.25rem;
            span {
                font-size: 0.75rem;
            }
        }
    }
}

.category-news {
    font-size: 0.75rem;
    font-family: var(--font1);
    background-color: var(--text-muted);
    width: fit-content;
    padding: 0 0.25rem;
    border-radius: 0.15rem;
    margin: 0.25rem;
}

.comments-number {
    font-size: 0.8rem;
    margin: 0 0.5rem;
}

.admin-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    .admin-actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
            margin: 0.25rem 0;
        }
    }

    .category-list,
    .category-creation {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        margin-top: 1rem;
        form {
            display: flex;
            flex-direction: column;
        }
    }

    .category-list {
        display: flex;
        flex-direction: column;
        button {
            margin: 0.1rem 0;
            padding: 0.15rem 0.75rem;
            font-size: 0.85rem;
        }
    }
}
