@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary: #171616;
  --primary-main: #292525;
  --secondary: #464746;
  --ternary: #1588ab;
  --muted-hover: #95959524;
  --text: #eee6e6;
  --text-muted: #eee6e651;
  --muted-alert: rgba(255, 0, 0, 0.588);
  --form-input: #454242ed;
  --success: #1b881b;
  --warning: #9c8315;
  --error: #c82c1a;
  --submit: #1a4bc8;
  --font1: 'Viga', sans-serif;
  --font2: 'Raleway', sans-serif;
}

/* BASIC LAYOUT */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body {
  min-height: 100vh;
  font-family: var(--font2);
  background-color: var(--primary-main);
}

/* HEADER */
header {
  position: fixed;
  height: 3rem;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--primary);
  color: var(--text);
  padding: .25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  height: 100%;
  width: auto;
  border-radius: 50%;
  padding: .2rem;
}

header .title {
  font-family: var(--font2);
  margin-left: .5rem;
  font-weight: bold;
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* MAIN */
main {
  min-height: 100vh;
  padding: 3rem 0 4rem 0;
  color: var(--text);
  overflow-y: scroll;
}

main .back-vinyl {
  position: fixed;
  bottom: -30%;
  right: -125%;
  z-index: -1;
}

/* FOOTER */
footer {
  position: fixed;
  height: 4rem;
  width: 100vw;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* MENU */
menu {
  background-color: var(--primary);
  color: var(--text);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80vw;
  z-index: 1000;
  border-right: 1px solid var(--text);
  border-radius: 0 .25rem .25rem 0;
  /* display: grid;
    grid-template-columns: 1fr; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

menu .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .25rem 1rem;
  border-bottom: 1px solid black;
}

menu .header-menu .close-menu {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 2rem;
}

menu a {
  background-color: var(--primary-main);
  color: var(--text);
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1rem .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

menu a img {
  margin-right: .75rem;
}

menu a:hover {
  background-color: var(--muted-hover);
}

menu button {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* BASE */
.hidden {
  display: none;
}

.form-group {
  margin: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-group-row {
  margin: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
}

label {
  display: inline-block;
  color: var(--text-muted);
}

.form-control:not(.btn-login) {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text);
  background-clip: padding-box;
  background-color: var(--form-input);
  border: 1px solid var(--form-input);
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  font-family: var(--font-secondary);
}

.form-control::-webkit-input-placeholder {
  color: #7a8288;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #7a8288;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #7a8288;
  opacity: 1;
}

.form-control::placeholder {
  color: #7a8288;
  opacity: 1;
}

input {
  overflow: visible;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

textarea.form-control {
  height: auto;
}

textarea {
  overflow: auto;
  resize: vertical;
  font-family: inherit;
}

select {
  text-transform: none;
  font-family: inherit;
  word-wrap: normal;
}

select option {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 5 !important;
  color: var(--text);
  background: var(--darker);
}

.btn-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.5rem;
}

.btn-form.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0.5rem;
}

.valid_form p {
  padding: 1rem;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0.5rem 0 1rem 0;
}

.search-form input[type="search"] {
  display: block;
  width: 100%;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25;
  color: #52575c;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  margin-right: 0.25rem;
}

.search-form input[type="submit"] {
  background-color: var(--primary);
  border: 1px solid var(--text-muted);
  color: var(--text);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.search-form input[type="submit"]:hover {
  background-color: var(--primary);
}

.search-form input[type="search"]::-webkit-input-placeholder {
  color: #7a8288;
  opacity: 1;
}

.search-form input[type="search"]:-ms-input-placeholder {
  color: #7a8288;
  opacity: 1;
}

.search-form input[type="search"]::-ms-input-placeholder {
  color: #7a8288;
  opacity: 1;
}

.search-form input[type="search"]::placeholder {
  color: #7a8288;
  opacity: 1;
}

.form-hint {
  font-size: 0.75rem;
  color: var(--warning);
  text-align: center;
}

/* COLORS */
.warning {
  color: var(--warning) !important;
}

.info {
  color: var(--info) !important;
}

.danger {
  color: var(--error) !important;
}

.success {
  color: var(--success) !important;
}

.primary {
  color: var(--primary) !important;
}

.alert_info {
  color: var(--info);
  text-align: center !important;
  padding: 1rem !important;
  border: 1px solid var(--info) !important;
  border-radius: .25rem !important;
}

.alert_warning {
  color: var(--warning);
  text-align: center !important;
  padding: 1rem !important;
  border: 1px solid var(--warning) !important;
  border-radius: .25rem !important;
}

.alert_danger {
  color: var(--error) !important;
  text-align: center !important;
  padding: .25rem .5rem !important;
  /* border: 1px solid var(--danger) !important;
    border-radius: .25rem !important */
}

.hidden {
  display: none !important;
}

/* FONTS */
.ff-1 {
  font-family: 'Nosifer', cursive;
}

.ff-2 {
  font-family: 'Montserrat Subrayada', sans-serif;
}

.center {
  text-align: center;
}

.spinner {
  height: 10rem;
  width: 10rem;
  position: relative;
  margin: auto;
}

.spinner div {
  position: absolute;
  height: 100%;
  width: 100%;
}

.spinner div span {
  display: block;
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--primary);
  border-radius: 50%;
  top: .75rem;
  left: calc(50% - .25rem);
  -webkit-animation: lightIt 2500ms linear infinite;
          animation: lightIt 2500ms linear infinite;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: .1;
}

.spinner h5 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -8.25rem;
  text-align: center;
}

.spinner div:nth-child(0) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.spinner div:nth-child(0) span {
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}

.spinner div:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.spinner div:nth-child(1) span {
  -webkit-animation-delay: 312.5ms;
          animation-delay: 312.5ms;
}

.spinner div:nth-child(2) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.spinner div:nth-child(2) span {
  -webkit-animation-delay: 625ms;
          animation-delay: 625ms;
}

.spinner div:nth-child(3) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.spinner div:nth-child(3) span {
  -webkit-animation-delay: 937.5ms;
          animation-delay: 937.5ms;
}

.spinner div:nth-child(4) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.spinner div:nth-child(4) span {
  -webkit-animation-delay: 1250ms;
          animation-delay: 1250ms;
}

.spinner div:nth-child(5) {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.spinner div:nth-child(5) span {
  -webkit-animation-delay: 1562.5ms;
          animation-delay: 1562.5ms;
}

.spinner div:nth-child(6) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.spinner div:nth-child(6) span {
  -webkit-animation-delay: 1875ms;
          animation-delay: 1875ms;
}

.spinner div:nth-child(7) {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.spinner div:nth-child(7) span {
  -webkit-animation-delay: 2187.5ms;
          animation-delay: 2187.5ms;
}

.spinner div:nth-child(8) {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.spinner div:nth-child(8) span {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}

@-webkit-keyframes lightIt {
  0% {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  35% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 20px 5px #ffffff17;
            box-shadow: 0 0 20px 5px #ffffff17;
  }
  50% {
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: 1;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  65% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  100% {
    opacity: .1;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes lightIt {
  0% {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  35% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 20px 5px #ffffff17;
            box-shadow: 0 0 20px 5px #ffffff17;
  }
  50% {
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: 1;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  65% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  100% {
    opacity: .1;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

/* @import './shared/font.css'; */
/* @import './shared/header.css'; */
/* @import './shared/button.css'; */
/* @import './shared/menu.css'; */
html,
body {
  scroll-behavior: smooth;
  line-height: 1.5;
}

#geolocation_err {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: var(--text);
  background-color: var(--warning);
  z-index: 1000;
}

.move-left {
  -webkit-animation: moveL 1s ease-in forwards;
          animation: moveL 1s ease-in forwards;
  position: relative;
}

@-webkit-keyframes moveL {
  0% {
    left: 0;
  }
  100% {
    left: -100vw;
  }
}

@keyframes moveL {
  0% {
    left: 0;
  }
  100% {
    left: -100vw;
  }
}

a {
  text-decoration: none;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

a:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.h2,
h2 {
  font-size: 1.875rem;
}

hr {
  color: var(--muted-hover);
}

.map-page {
  height: calc(100vh - 7rem) !important;
  width: 100vw !important;
}

.btn {
  cursor: pointer;
  position: relative;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  display: inline-block;
  font-weight: 400 !important;
  font-style: bold;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  padding: 0.5rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-login {
  max-width: 20rem;
  background-color: var(--ternary);
  font-weight: bold;
  border: 1px solid var(--ternary);
}

.btn-login span {
  color: var(--primary);
}

.btn-login:hover {
  color: var(--primary);
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.btn-login:hover span {
  color: var(--text);
}

.btn.secondary {
  background-color: var(--secondary);
}

.btn.ternary {
  background-color: var(--ternary);
  padding: 0.35rem 0.85rem;
}

.btn.grey {
  background-color: #3a3f44;
  border: 1px solid #3a3f44;
}

.btn.grey:hover {
  border: 1px solid transparent;
}

.back-link {
  padding: 0.23rem 0.75rem;
}

.delete_btn {
  background: none;
  border: none;
  cursor: pointer;
}

.delete_box {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: var(--darker);
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 2rem;
  width: 2rem;
}

.link_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0.5rem;
}

.link_action {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  border: 1px solid var(--ternary);
  color: var(--ternary);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.3rem 0.75rem;
  margin: 0.5rem;
  border-radius: 0.2rem;
}

.link_action:hover {
  border: 1px solid var(--lighter);
  color: var(--lighter);
}

.spinner-box {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--darker);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.install-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70vh;
}

.install-page img {
  max-width: 11rem;
  margin: 2rem auto 1rem auto;
}

.install-page h1 {
  font-weight: bold;
  text-align: center;
  margin: 1rem;
  margin-bottom: 0;
}

.install-page p {
  padding: 0 1.5rem 0.5rem 1.5rem;
  text-align: center;
  max-width: 15rem;
  font-weight: 200;
}

.install-app-button {
  background-color: var(--ternary);
  margin: 1.5rem auto;
  font-size: 1.25rem;
  font-family: var(--font-primary);
}

.page-head-text {
  text-align: center;
  padding: 0.75rem 0.5rem;
}

/* HOME-PAGE */
.home-page {
  background-image: url("https://images.unsplash.com/photo-1542813884-edb2d564ca91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.home-page h1 {
  font-size: 20vw;
  color: #000;
  text-shadow: 0 0 0.05rem #fff;
  -webkit-animation: wordlight 25s ease-in-out infinite;
          animation: wordlight 25s ease-in-out infinite;
}

.home-page p {
  font-size: 1.25rem;
}

.home-page em {
  margin-top: 2rem;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  text-align: center;
  max-width: 50vw;
}

.home-page .home-login,
.home-page .home-text {
  text-align: center;
}

.home-page .home-text span {
  font-size: 2rem;
  font-weight: 600;
}

.home-page .home-user-avatar {
  max-width: 12.5rem;
}

@-webkit-keyframes wordlight {
  0% {
    text-shadow: 0 0 0.05rem rgba(255, 255, 255, 0.5);
  }
  50% {
    text-shadow: 0 0 0.5rem #fff;
  }
  75% {
    color: var(--text);
    text-shadow: 0 0 5rem #ffffff;
  }
  100% {
    color: var(--muted-hover);
    text-shadow: 0 0 5rem #ffffff1a;
  }
}

@keyframes wordlight {
  0% {
    text-shadow: 0 0 0.05rem rgba(255, 255, 255, 0.5);
  }
  50% {
    text-shadow: 0 0 0.5rem #fff;
  }
  75% {
    color: var(--text);
    text-shadow: 0 0 5rem #ffffff;
  }
  100% {
    color: var(--muted-hover);
    text-shadow: 0 0 5rem #ffffff1a;
  }
}

/* LOGIN-PAGE */
.login-page {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 80vh;
}

.login-page h3 {
  padding: 0 1rem;
}

.tiny_text {
  font-size: 0.87rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
}

.home-login .tiny_text span {
  margin-top: 0.75rem;
  font-size: 0.87rem;
}

/* CATEGORY */
.category_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category_item {
  background: var(--darker);
  margin-bottom: 1rem;
  padding: 1.5rem;
  width: 100%;
}

.category_item h3 {
  color: #fff;
}

.category_item p {
  margin-left: 0.5rem;
  color: rgba(255, 255, 255, 0.5);
}

.btn-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-bottom: 2rem;
  padding: 0 0.25rem;
}

.btn-row .left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.btn-row .center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* NEWS */
.news_item {
  border-radius: 0.5rem;
  padding: 1.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.news_item .content p {
  display: none;
}

.news_item .content p:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 2rem;
  max-width: 80vw;
  display: block;
}

.news_item .title {
  padding-bottom: 0.5rem;
}

.news-comments {
  margin: 0.25rem;
  margin-bottom: 0.5rem;
  overflow-y: scroll;
  max-height: 20rem;
}

.news-comments .news-comment {
  background-color: var(--primary);
  padding: 0.25rem;
  margin: 0.25rem 0;
  border: 1px solid var(--primary);
}

.news-comments .from {
  text-align: right;
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--text-muted);
}

.news-comments .at {
  text-align: right;
  font-size: 0.5rem;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
}

.imgNews {
  width: 100%;
}

.img_mini_container {
  max-width: 23rem;
}

.img_container {
  max-width: 23rem;
}

.comment_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-size: 0.75rem;
}

.content {
  margin: 1rem;
  line-height: 1.75rem;
}

.content p {
  margin: 0.5rem 0;
}

/* REGISTER */
.registration-page {
  padding: 1rem 0;
}

.register_form_grid {
  margin-bottom: 2rem;
}

.avatar-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* STYLES */
.style_list {
  padding: 2rem;
  max-height: 50vh;
  overflow: auto;
  overscroll-behavior-y: contain;
}

.style_list li {
  background: var(--primary);
  padding: 0.8rem;
  padding-left: 1rem;
  margin-bottom: 0.2rem;
  list-style: none;
  font-size: 1.23rem;
  border-radius: 0.25rem;
}

/* Messagerie */
.message_table {
  width: 100%;
  padding: 1rem 0;
  table-layout: fixed;
  /* &tr:not(:first-child) { */
}

.message_table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.25rem 0;
}

.message_table tr:first-child {
  font-size: 0.75rem;
}

.message_table td {
  width: 100%;
}

.message_table td:not(:last-child) {
  padding: 0.5rem 0.75rem;
}

.is_message_read {
  text-align: center;
}

.title_table {
  background: var(--primary);
  margin-bottom: 0.75rem;
}

.table_date {
  text-align: right;
}

.table_date p {
  font-size: 0.75rem;
}

.flex_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.click_list {
  cursor: pointer;
  background: var(--primary-main);
  border: 1px solid var(--muted-hover);
}

.click_list:hover {
  background: var(--primary);
}

/* CONVERSATION */
.conversation-page {
  padding: 0.5rem;
}

.conversation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  max-height: 50vh;
  border-top: 1px solid var(--muted-hover);
  border-bottom: 1px solid var(--muted-hover);
  padding: 0.75rem 0.15rem;
}

.conversation h3 {
  padding: 0.5rem;
  white-space: pre-wrap;
}

.conversation .align_left {
  text-align: left;
  border-radius: 0.5rem;
}

.conversation .align_right {
  text-align: right;
  border-radius: 0.5rem;
}

.conversation-usernames {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 0.5rem;
}

.new-message-page {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.new-message-page h3 {
  padding: 1rem 0.5rem;
}

.converation-msg-from-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.converation-msg-from-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.converation-msg-from-left .msg-name,
.converation-msg-from-right .msg-name {
  font-weight: 150;
  font-size: 0.85rem;
}

.converation-msg-from-left .msg-date,
.converation-msg-from-right .msg-date {
  margin: 0 0.5rem;
  font-size: 0.7rem;
  color: var(--text-muted);
  font-family: var(--font2);
  font-weight: 150;
}

.message-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.25rem !important;
  background-color: var(--muted-hover);
  border-radius: 0.5rem;
}

.message-box img {
  max-width: 2.5rem;
  max-height: 2.5rem;
}

.message-box.left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.message-box.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.conversation-msg {
  background: var(--primary);
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.conversation-answer {
  margin: 1rem 0;
}

/* ACCOUNT */
#registration_level {
  margin-bottom: 0.75rem;
}

.account-page {
  padding-bottom: 1.5rem;
}

.account-page .under-title {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.account-page .under-title img {
  width: 1rem;
  margin: 0 0.5rem;
}

.account-page .account-head {
  padding: 0.5rem;
}

.account-page .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.5rem;
}

.user-detail-page p {
  text-align: center;
  padding: 0.5rem;
}

.element-array {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.5rem 0.25rem;
}

.user-element-choice {
  background-color: var(--secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.75rem;
  padding: 0 0.25rem 0 0.5rem;
  margin: 0.25rem;
}

.user-element-choice span {
  display: block;
  line-height: 0;
  font-size: 1.1rem;
  background-color: var(--text);
  color: var(--secondary);
  border-radius: 50%;
  padding: 0;
  margin-left: 0.25rem;
  height: 1rem;
  width: 1rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

/* USER LIST */
.userlist-page {
  padding: 0.5rem;
  max-height: 80vh;
}

.user_list {
  max-height: 55vh;
  overflow: auto;
  overscroll-behavior-y: contain;
}

.leaflet-popup-content-wrapper {
  background-color: var(--primary);
  border: 1px solid var(--text-muted);
}

.leaflet-popup-content-wrapper .action-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.5rem;
}

.leaflet-popup-content {
  width: 70vw;
  max-width: 70vw;
  margin: 0;
}

.leaflet-popup-content .name {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 1rem;
  background-color: var(--secondary);
  border-radius: 0.6rem 0.6rem 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.leaflet-popup-content .instrument,
.leaflet-popup-content .place {
  padding: 0 0.5rem;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leaflet-popup-content .instrument img,
.leaflet-popup-content .place img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--text-muted);
  margin-right: .5rem;
}

.leaflet-popup-content .instrument {
  font-size: 1rem;
  font-weight: 400;
  margin: 2rem 0 0 0;
}

.leaflet-popup-content .instrument img {
  padding: .15rem;
}

.leaflet-popup-content .instrument .instrument-text {
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

.leaflet-popup-content .instrument .instrument-text span {
  text-transform: uppercase;
  font-weight: 150;
  font-size: .7rem;
}

.leaflet-popup-content .place {
  font-size: 0.8rem;
  font-weight: 150;
  margin: 0.75rem 0 1.5rem 0;
}

.leaflet-popup-content .place img {
  padding: .25rem;
}

.leaflet-popup-tip {
  background-color: var(--text-muted);
}

.leaflet-popup-close-button {
  font-size: 1.5rem !important;
  right: 5px !important;
}

.suggestions-instrument,
.suggestions-style {
  margin-top: 0.25rem;
  max-height: 10rem !important;
  overflow-y: scroll !important;
  background: rgba(0, 0, 0, 0.7);
}

.suggestions-instrument li,
.suggestions-style li {
  cursor: pointer;
  padding: 0.25rem;
}

.suggestions-instrument li:hover,
.suggestions-style li:hover {
  background: rgba(255, 255, 255, 0.1);
}

.article .title-news {
  padding-top: 0.5rem;
}

.article .metadata-news {
  text-align: right;
  margin-right: 0.25rem;
  color: var(--text-muted);
  font-size: 0.75rem;
}

.article .metadata-news .news-date,
.article .metadata-news .news-time {
  font-size: 0.65rem;
}

.article .metadata-news .username {
  font-size: 1rem;
  color: var(--text);
  margin: 0 0.25rem;
}

.article .metadata-news .username span {
  font-size: 0.75rem;
}

.category-news {
  font-size: 0.75rem;
  font-family: var(--font1);
  background-color: var(--text-muted);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0.25rem;
  border-radius: 0.15rem;
  margin: 0.25rem;
}

.comments-number {
  font-size: 0.8rem;
  margin: 0 0.5rem;
}

.admin-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-page .admin-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-page .admin-actions a {
  margin: 0.25rem 0;
}

.admin-page .category-list,
.admin-page .category-creation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.admin-page .category-list form,
.admin-page .category-creation form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin-page .category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin-page .category-list button {
  margin: 0.1rem 0;
  padding: 0.15rem 0.75rem;
  font-size: 0.85rem;
}
/*# sourceMappingURL=main.css.map */