<div class="form-group">
    <label for="message_to" class="required">A</label>
    <input class="form-control" type="text" id="message_to" name="message_to" required="required" maxlength="255"
        placeholder="A" class="form-control" <% if (typeof data !== 'undefined' && data.message_to) { %>
            value="<%= data.message_to %>"
        <% } %>>
    <!-- TODO: pouvoir selectionner plusieurs utilisateurs -->
    <!-- <p class="form-hint">Vous pouvez selectionner plusieurs personnes (*,*)</p> -->
</div>

<div class="form-group">
    <label for="group_name">Titre</label>
    <input class="form-control" type="text" id="group_name" name="group_name" maxlength="255"
    placeholder="Titre de la conversation" class="form-control"<% if (typeof data !== 'undefined' && data.group_name) { %>
        value="<%= data.group_name %>"<% } %>>        
    <p class="form-hint">Facultatif, donnez un titre a votre conversation si vous le souhaitez</p>
</div>

<div class="form-group">
    <label for="your_message" class="required">Votre message</label>
    <textarea class="form-control" id="your_message" name="text" required="required" pattern=".{8,}"
        placeholder="Message..." class="form-control"><% if (typeof data !== 'undefined' && data.text) { %><%=data.text%><% } %></textarea>
</div>