<form method="POST" action="/app/messagerie/conversation?_method=DELETE">
    <input type="hidden" name="conversation_id" value="<%= id %>">
    <input class="delete_btn" type="submit" value="🗑"> 
</form>