<div class="form-group">
    <!-- <label for="your_message" class="required">Votre message</label> -->
    <textarea class="form-control" id="your_message" name="text" required="required" pattern=".{8,}"
        placeholder="Votre message..." class="form-control"><% if (typeof data !== 'undefined' && data.text) { %><%=data.text%><% } %></textarea>
</div>