<% if (msg.from.username !== user.username) { %>
<div class="message-box left">
    <img src="<%= msg.from.avatar_url %>" alt="avatrar image">
    <div class="conversation-msg align_left">
        <h3><%= msg.text %></h3>
        <div class="converation-msg-from-left">
            <p class="msg-date"><%= `${msg.createdAt.toLocaleDateString('fr-FR')}, ${msg.createdAt.toLocaleTimeString('fr-FR')}` %> </p>
            <p class="msg-name"><%= msg.from.username %></p>
        </div>
    </div>
</div> 
<% } else { %>
<div class="message-box right">
    <div class="conversation-msg align_right">
        <h3><%= msg.text %></h3>
        <div class="converation-msg-from-right">
            <p class="msg-name">You</p>
            <p class="msg-date"><%= `${msg.createdAt.toLocaleDateString('fr-FR')}, ${msg.createdAt.toLocaleTimeString('fr-FR')}` %> </p>
        </div>
    </div>
    <img src="<%= msg.from.avatar_url %>" alt="avatrar image">
</div>
<% } %>