<div class="conversation-page">
    <% if (conversation.users.length && conversation.users[0].username !== user.username) { %> 
        <p>Utilisateur<%= conversation.users.length > 2 ? 's' : '' %>  dans cette conversation</p>
    <% } else { %>
        <p>Conversation avec vous même !</p>
    <% } %>  
    <div class="conversation-usernames">
        <% conversation.users.forEach(conv => { %>
            <% if (conv.username !== user.username) { %> 
            <custom-button
                type="muted-hover"
                size="XS"
                link="/app/account/user-details/<%= conv.username %>"
                rounded>
                <%= conv.username %>
            </custom-button>
            <% } %> 
        <% }) %> 
        <!-- <div class="conversation-username-box">You</div> -->
    </div>
    
    <div class="conversation">
        <% conversation.messages.forEach(msg => { %>
            <%- include('_message', { msg: msg }) %> 
        <% }) %>
    </div>
    
    <form action="/app/messagerie/conversation" class="conversation-answer" method="POST">

    <% if (typeof error !== 'undefined') { %>
        <p class="alert_danger"><%= error %></p> 
    <% } %> 
    
    <%- include('_form-answer') %>

    <input type="hidden" id="conversation_id" name="conversation_id" value="<%= conversation.id %>" />

    <div class="btn-form right">
        <input type="submit" class="btn" value="Envoyer le message">
    </div>

    </form>

</div>