<div class="messagerie-page">
      <div class="link_container">
         <custom-button
            type="ternary"
            link="/app/messagerie/new"
            rounded
         >
            Nouveau Message
         </custom-button>
      </div>

   <% if (conversations && conversations.length) { %> 
   <hr>
   <table class="message_table">
      <tr class="title_table">
         <td>Name</td>
         <td>last writer</td>
         <td></td>
         <td></td>
         <td></td>
      </tr>

      <% conversations.forEach(conv => { %> 
      <h1><%= conv.conversationId %></h1>
      <tr class="click_list" id="<%= conv.id %>">
         <td><%= conv.groupName || 'No Name' %></td>
         <td><%= conv.lastWriter !== user.username ? conv.lastWriter : 'you' %></td>    
         <td class="is_message_read"><%= !conv.messages[conv.messages.length-1].read  && conv.lastWriter !== user.username ? '🟢' : '' %></td> 
         <td class="table_date"> 
            <p><%= `${conv.updatedAt.toLocaleDateString('fr-FR')}` %></p> 
            <p><%= `${conv.updatedAt.toLocaleTimeString('fr-FR')}` %></p>
         </td> 
         <td class="delete_box">
            <%- include('_form-delete', { id: conv.id }) %> 
         </td> 
      </tr>
      <% }) %>
   </table>
   <% } else { %>
   <hr style="margin-top: 2rem;">
   <p style="margin: 2rem;">Nouveau sur le site ? <br> N'hesitez pas a communiquer avec d'autres Zicos, <br> ils n'attendent peut-être que vous <strong><%= user.username %></strong> ?</p>
   <hr>
   <h3 style="margin: 2rem .5rem 1rem .5rem;">Vous n'avez aucun messages..</h3>
   <% } %>  
</div>


<script>
    const options = { 
        weekday: 'long', 
        year: 'numeric', 
        month: 'long', 
        day: 'numeric' 
    }
    function toLocaleDate(date) {
        return `${date.toLocaleDateString('fr-FR')}, ${date.toLocaleTimeString('fr-FR')}`
    }

    document.querySelectorAll('.click_list').forEach(l => {
        l.onclick = () => {
            window.location.href = `messagerie/${l.id}`
        }
    })
</script>