<div class="new-message-page">

    <h3>Nouvelle conversation</h3>

    <form action="/app/messagerie/new" name="new_message" method="POST">

    <% if (typeof error !== 'undefined') { %>
        <p class="alert_danger"><%= error %></p> 
    <% } %> 

    <% if (typeof data !== 'undefined') { %>
        <%- include('_form', { data: data }) %>
    <% } else { %>
        <%- include('_form') %>
    <% } %>

    <% if (typeof conversation === 'object' && conversation && conversation._id) { %><input type="hidden" name="conversation" value="<%=conversation._id%>"><% } %>

        <div class="btn-form">
            <custom-button
                type="warning"
                link="/app/messagerie"
            >
            Annuler
            </custom-button>
            <input type="submit" class="btn" value="Envoyer">
        </div>

        <!-- <input type="hidden" id="blog_article__token" name="blog_article[_token]" value="Oxki5sdrlqZg3gM4CA76tjUv1Z4-H6q0P7RfeapmVKk"> -->

    </form>
</div>