<div class="form-group">
    <textarea class="form-control" id="blog_article_content_comment" name="comment_content" required="required" pattern=".{8,}"
        placeholder="Your comment ..." class="form-control"></textarea>
</div>