<div class="form-group">
    <label for="blog_article_title" class="required">Title</label>
    <input class="form-control" type="text" id="blog_article_title" name="title" required="required" maxlength="255" pattern=".{10,}"
        placeholder="The Title" class="form-control">
</div>

<div class="form-group">
    <label class="required" for="blog_article_category">Category</label>
    <select class="form-control" id="blog_article_category" name="category" class="form-control">
        <% categories.forEach( cat => { %> 
            <option value="<%= cat._id %>"><%= cat.name %></option>
        <% }) %> 
    </select>
</div>

<div class="form-group">
    <label for="blog_article_content" class="required">Content</label>
    <textarea class="form-control" id="blog_article_content" name="content" required="required" pattern=".{8,}"
        placeholder="The content here..." class="form-control">
    </textarea>
</div>

<div class="form-group">
    <label for="blog_article_image">Image</label>
    <input class="form-control" type="text" id="blog_article_image" name="image_url" maxlength="255" inputmode="url" placeholder="Image link" class="form-control">
</div>