<div class="container">

<h2> Write your News : </h2>
<form action="/app/news" name="blog_article" method="POST">

    <%- include('_form') %> 

    <div class="btn-form">
        <a href="/app/news" class="warning">Cancel</a>
        <button type="submit" class="btn btn-login form-control ff-1">Add <span>N</span>ews</button>
    </div>

    <!-- <input type="hidden" id="blog_article__token" name="blog_article[_token]" value="Oxki5sdrlqZg3gM4CA76tjUv1Z4-H6q0P7RfeapmVKk"> -->

</form>
</div>