<div class="container">
    <% if(is_authenticated) { %>
        <div class="btn-row">
            <a class="btn" href="news/add">Add a News ?</a>
        </div>
    <% } %>  
    <% if (news.length > 0) { %>
    <div class="news_list">
        <% news.forEach( ne => { %>
        <div class="news_item">
            <article>
                <div class="title">
                    <h2 class="text-white"><%= ne.title %></h2>
                    <div class="category-news">
                        <em><%= ne.category.name %></em>
                    </div>
                </div>
                <div class="grid">
                    <div class="img_mini_container">
                        <img src="<%= ne.imageUrl %>" class="imgNews" alt="Matériel Home Studio : Le Guide du Débutant Responsive image">
                    </div>
                    <div class="content">
                        <%- ne.content %>
                   </div>
                </div>
                <div class="center">
                    <div>
                        <a href="/app/news/<%= ne.titleSlug %>" class="btn btn-login">Show More !</a>
                    </div>
                    <div class="comment_info">
                        <span><%= ne.comments_number %> Comments</span>
                    </div>
                </div>
            </article>

        </div>
        <% }) %>
    </div>
    <% } else { %>
    <div class="warning">
        No News Found ...
    </div>
    <% } %>

</div>