<div class="container">

    <div class="article" style="max-width: 100%; min-height: 20rem;">
        <article>
            <div class="category-news">
                <em><%= news.category.name %></em>
            </div>
            <div class="title center">
                <h2 class="title-news"><%= news.title %></h2>
                <div class="metadata-news">
                    by<span class="username"><em><%= news.user && news.user.username %></em></span><br>
                    <span class="news-date"><%= news.date %></span> : <span class="news-time"><%= news.time %></span>
                </div>

                    
                <div class="metadata">
                </div>
                <div class="metadata info">
                    <!-- <em>Post modified the 05/05/2020 pm 19:08 min.</em> <br> -->
                    <%= news.modifiedAt %>
                </div>
            </div>
            <img src="<%= news.imageUrl %>"
                class="img-fluid mb-4" width="100%" height="auto"
                alt="<%= news.title %> Responsive image">
            <div class="content">
                <p><%- news.content %></p>
            </div>
        </article>
    </div>

    <div class="btn-row">
        <a href="/app/news" class="btn back-link">← Get Back</a>
    </div>

    <% if (!is_authenticated) { %> 
        <p class="alert_warning">
            <em>You have to be connected to see and add comments - </em>
            <a href="/app/login">Login</a>
        </p>
    <% } else { %>
        <p class="comments-number"><em><%= comments.length || 0 %> comments</em></p>
        <div class="news-comments">
            <% if (comments.length > 0) { %>
                <% comments.forEach( comm => { %>
                    <div class="news-comment">
                        <div class="comment-msg">
                            <%- comm.message %> 
                        </div>
                        <div class="from">
                            <%= (comm.user && comm.user.username) || 'noname' %> 
                        </div>
                        <div class="at">
                            <%= comm.date %> 
                            <%= comm.time %> 
                        </div>
                    </div>
                    <% }) %> 
            <% } %> 
        </div>
        <form action="/app/news/add-comment" name="blog_article" method="POST">
            <%- include('_form-comment') %> 

            <input type="hidden" name="news_id" value="<%= news._id %>">

            <div class="btn-row">
                <button type="submit" class="btn ternary">Add Comment</button>
            </div>
        </form>
    <% } %>  
</div>