/* FIRS PAGE BUTTON */
.index-button {
    display: grid;
    place-items: center;
    height: calc(100vh - (var(--header-height) + 5rem));
}

.index-button div {
    display: flex;
    flex-direction: column;
}

.index-button div a {
    margin: .6rem 0;
    padding: .8rem 1.5rem;
}


/* GENERAL BUTTON */
.btn {
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: .2rem;
    padding: .3rem 1rem;
    color: #fff;
    transition: .2s;
    font-size: 1rem;
    font-family: '00343';
    user-select: none;
    background-color: transparent;
}

.btn:hover {
    filter: brightness(1.3);
}

.btn-primary {
    background-color: var(--primary);
}
.btn-primary-outline {
    border: 1px solid var(--primary);
    color: var(--primary);
}

.btn-secondary {
    background-color: var(--secondary);
}
.btn-secondary-outline {
    background-color: var(--dark);
    border: 1px solid var(--secondary);
    color: var(--secondary);
}

.btn-accent {
    background-color: var(--accent);
}
.btn-accent-outline {
    border: 1px solid var(--accent);
    color: var(--accent);
}

.btn-danger {
    background-color: var(--danger);
}
.btn-danger-outline {
    border: 1px solid var(--danger);
    color: var(--danger);
}



/* BUTTON PLACEMENT */
.btn-row {
    display: flex;
    justify-content: space-between;
    margin-right: .2rem;
    margin-left: .2rem;
}

.btn-row-right {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    margin-right: .5rem;
}

.btn-row-right .btn {
    margin: 0 .5rem;
}

.btn-form-control {
    text-align: center;
    margin: .5rem auto .8rem 0;
}