/* COLORS */
.warning { color: var(--warning) !important }
.info { color: var(--info) !important }
.danger { color: var(--error) !important }
.success { color: var(--success) !important }
.primary { color: var(--primary) !important }

.alert_info { 
    color: var(--info);
    text-align: center !important;
    padding: 1rem !important;
    border: 1px solid var(--info) !important;
    border-radius: .25rem !important
}
.alert_warning { 
    color: var(--warning);
    text-align: center !important;
    padding: 1rem !important;
    border: 1px solid var(--warning) !important;
    border-radius: .25rem !important
}
.alert_danger { 
    color: var(--error) !important;
    text-align: center !important;
    padding: .25rem .5rem !important;
    /* border: 1px solid var(--danger) !important;
    border-radius: .25rem !important */
}

.hidden { display: none !important; }

/* FONTS */
.ff-1 { font-family: 'Nosifer', cursive; }
.ff-2 { font-family: 'Montserrat Subrayada', sans-serif; }

.center { text-align: center; }

