@font-face {
    font-family: '00343';
    src: url('../../font/a0343.woff2') format('woff2'),
        url('../../font/a0343.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

