.form-group {
    // width: 100%;
    margin: 0.25rem;
    display: flex;
    flex-direction: column;
}
.form-group-row {
    margin: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

label {
    display: inline-block;
    // margin-bottom: .5rem;
    color: var(--text-muted);
}

.form-control:not(.btn-login) {
    display: block;
    width: 100%;
    // height: calc(1.5em + 1.5rem + 2px);
    padding: 0.75rem 1rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text);
    // background: none !important;
    background-clip: padding-box;
    background-color: var(--form-input);
    border: 1px solid var(--form-input);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-family: var(--font-secondary);
}

.form-control::placeholder {
    color: #7a8288;
    opacity: 1;
}

input {
    overflow: visible;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

textarea.form-control {
    height: auto;
}

textarea {
    overflow: auto;
    resize: vertical;
    font-family: inherit;
}

select {
    text-transform: none;
    font-family: inherit;
    word-wrap: normal;

    option {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 5 !important;
        color: var(--text);
        background: var(--darker);
    }
}

.btn-form {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}

.btn-form.right {
    justify-content: flex-end;
    margin: 0.5rem;
}

.valid_form p {
    padding: 1rem;
}

.search-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0.5rem 0 1rem 0;
}

.search-form input[type="search"] {
    display: block;
    width: 100%;
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25;
    color: #52575c;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-right: 0.25rem;
}

.search-form input[type="submit"] {
    background-color: var(--primary);
    border: 1px solid var(--text-muted);
    color: var(--text);
    user-select: none;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

.search-form input[type="submit"]:hover {
    background-color: var(--primary);
}

.search-form input[type="search"]::placeholder {
    color: #7a8288;
    opacity: 1;
}

.form-hint {
    font-size: 0.75rem;
    color: var(--warning);
    text-align: center;
}
