.header-title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.header-title h1,
.header-title h3 {
    margin: 0 0 0 .2rem;
    padding: 0;
}

.header-title h3 {
    margin-left: .6rem;
    font-size: .8rem;
    letter-spacing: .15rem;
}

.header-title button {
    margin-right: .8rem;
}

.header-title h1 a {
    text-decoration: none;
    color: var(--text-color);
    transition: .2s;
}

.header-title h1 a:hover {
    filter: brightness(1.3);
}