/* BASIC LAYOUT */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body {
  min-height: 100vh;
  font-family: var(--font2);
  background-color: var(--primary-main);
}

/* HEADER */
header {
  position: fixed;
  height: 3rem;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--primary);
  color: var(--text);
  padding: .25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  height: 100%;
  width: auto;
  border-radius: 50%;
  padding: .2rem;
}

header .title {
  font-family: var(--font2);
  margin-left: .5rem;
  font-weight: bold;
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* MAIN */
main {
  min-height: 100vh;
  padding: 3rem 0 4rem 0;
  color: var(--text);
  overflow-y: scroll;
}

main .back-vinyl {
  position: fixed;
  bottom: -30%;
  right: -125%;
  z-index: -1;
}

/* FOOTER */
footer {
  position: fixed;
  height: 4rem;
  width: 100vw;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* MENU */
menu {
  background-color: var(--primary);
  color: var(--text);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80vw;
  z-index: 1000;
  border-right: 1px solid var(--text);
  border-radius: 0 .25rem .25rem 0;
  /* display: grid;
    grid-template-columns: 1fr; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

menu .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .25rem 1rem;
  border-bottom: 1px solid black;
}

menu .header-menu .close-menu {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 2rem;
}

menu a {
  background-color: var(--primary-main);
  color: var(--text);
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1rem .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

menu a img {
  margin-right: .75rem;
}

menu a:hover {
  background-color: var(--muted-hover);
}

menu button {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* BASE */
.hidden {
  display: none;
}
/*# sourceMappingURL=layout.css.map */