/* BASIC LAYOUT */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all 0.3s;
}

body {
    min-height: 100vh;
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: .4fr 5fr .5fr;
    font-family: var(--font2);
    background-color: var(--primary-main);
}


/* HEADER */
header {
    position: fixed;
    height: 3rem;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--primary);
    color: var(--text);
    padding: .25rem;
    display: flex;
    align-items: center;

    .logo {
        height: 100%;
        width: auto;
        border-radius: 50%;
        padding: .2rem;
    }

    .title {
        font-family: var(--font2);
        margin-left: .5rem;
        font-weight: bold;
        font-size: 1.25rem;
        display: flex;
    }

    // .menu-btn {
    //     font-size: 1.5rem;
    //     padding: .5rem;
    //     cursor: pointer;
    // }
}


/* MAIN */
main {
    min-height: 100vh;
    padding: 3rem 0 4rem 0;
    // background-image: url('../../icon/back-vinyl.svg');
    // padding: .5rem 1.5rem;
    color: var(--text);
    overflow-y: scroll;

    .back-vinyl {
        position: fixed;
        bottom: -30%;
        right: -125%;
        z-index: -1;
    }
}


/* FOOTER */
footer {
    position: fixed;
    height: 4rem;
    width: 100vw;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* MENU */
menu {
    background-color: var(--primary);
    color: var(--text);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80vw;
    z-index: 1000;
    border-right: 1px solid var(--text);
    border-radius: 0 .25rem .25rem 0;
    /* display: grid;
    grid-template-columns: 1fr; */
    display: flex;
    flex-direction: column;

    .header-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .25rem 1rem;
        border-bottom: 1px solid black;

        .close-menu {
            user-select: none;
            cursor: pointer;
            font-size: 2rem;
        }
    }

    a {
        background-color: var(--primary-main);
        color: var(--text);
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: bold;
        padding: 1rem .5rem;
        display: flex;
        align-items: center;
        text-align: left;
        filter: brightness(0.8);

        img {
            margin-right: .75rem;
        }

        &:hover {
            background-color: var(--muted-hover);
        }
    }

    button {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}


/* BASE */
.hidden {
    display: none;
}