.left-sidebar {
    margin: 0;
    padding: 0;
}

.menu-link div {
    display: flex;
    flex-direction: column;
    justify-content: start;
} 

.menu-link a {
    width: 10rem;
    border-radius: 0;
    padding: 1rem 2rem;
}

.menu-link a:hover {
    background: rgba(255, 255, 255, 0.1);
} 



@media screen and (max-width:480px) {
    .left-sidebar {
        width: 100vw;
    }
    .menu-link a {
        width: 100vw;
    }
}