@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    // --white: #fff;
    // --black: #000;
    // --text: #ebe5e5;
    // --text-secondary: #ebe5e57c;
    // --muted: #d3d4d616;

    // --dark: #27262c;
    // --darker: #222326;
    // --darker-1: #141415;

    // --primary: #cf1581;
    // --primary-muted: #cf158162;
    // // --primary: #FCA311;
    // // --primary-muted: #fca21167;

    // --grey: #626267;

    // --success: #62c462;
    // --info: #5bc0de;
    // --warning: #f89406;
    // --danger: #ee5f5b;

    // --font-primary: 'Viga', sans-serif;
    // --font-secondary: 'Raleway', sans-serif;

    // --mobile-point: 768px

    --primary: #171616;
    --primary-main: #292525;
    --secondary: #464746;
    --ternary: #1588ab;
    --muted-hover: #95959524;
    --text: #eee6e6;
    --text-muted: #eee6e651;
    --muted-alert: rgba(255, 0, 0, 0.588);
    --form-input: #454242ed;

    --success: #1b881b;
    --warning: #9c8315;
    --error: #c82c1a;
    --submit: #1a4bc8;

    --font1: 'Viga', sans-serif;
    --font2: 'Raleway', sans-serif;
}

