<div class="user-information">
    <div class="avatar">
        <img src="<%= user.avatar_url %>" alt="">
    </div>
    <p>pseudo: <span>
            <%= user.username %>
        </span></p>
    <p>email: <span>
            <%= user.email || 'none' %>
        </span></p>
    <p>city: <span>
            <%= user.place %>
        </span></p>
    <p>level: <span>
            <%= user.level %>
        </span></p>
    <p>style: <span>
            <%= user.style_text %>
        </span></p>
    <p>conversations: <span>
            <%= user.conversations.length %>
        </span></p>
    <p>instruments: </p>
    <p><span>
            <%= user.instruments_text %>
        </span></p>
    <p>Want to</p>
    <p class="presentation"><%= user.want_to_learn %></p>
</div>