<div class="user-card">
    <div class="user-card-header">
        <div>
            <h3 class="name">
                <%= user.username.slice(0,1).toUpperCase() + user.username.slice(1,user.username.length) %> <span><% if (user.active) { %>🟢<% } %></span>
            </h3>
            <div class="style">
                <%= user.style_text %>
            </div>
        </div>
        <div class="user-card-button">
            <a href="../map?lat=<%= user.latitude %>&lon=<%= user.longitude %>" class="btn btn-login">📍</a>
            <a href="../messagerie/new?username=<%= user.username %>" class="btn btn-login">📇</a>
        </div>
    </div>
    <div class="instruments">
        <%= user.instruments_text %>
    </div>
</div>