<div class="account-page">
    <div class="account-head">
        <div class="menu">
            <custom-button
                type="secondary"
                link="/app/account/user-list"
                rounded>
                Liste d'utilisateurs
            </custom-button>
            <custom-button
                type="secondary"
                link="/app/messagerie"
                rounded>
                Messagerie
            </custom-button>
            <custom-button
                type="secondary"
                link="/app/map?lat=<%= user.latitude %>&lon=<%= user.longitude %>"
                img="/icon/location.svg"
                rounded>
            </custom-button>
        </div>

        <hr>

        <p class="under-title">
            <img src="/icon/edit.svg" alt="">
            Personaliser vos informations
        </p>
    </div>
    <form name="registration" method="post">
    <%- include('../auth/_register_form', { 
            formtype: 'update',
            data: user, 
            instruments: instruments, 
            styles: styles, 
            filenames, 
            isLogin: true 
            }
        ) %>
    </form>
</div>