<div class="user-detail-page">
    <p>En savoir plus sur <%= user.username %> !</p>
    <div class="my-account">
        <user-public-card 
            name="<%= user.username %>"
            email="<%= user.email %>"
            instruments="<%= user.instruments_text %>" 
            avatar-url="<%= user.avatar_url %>"
            place="<%= user.place %>"
            level="<%= user.level %>" 
            musical-style="<%= user.style_text %>"
            want-to-learn="<%= user.want_to_learn %>"
            lat="<%= user.latitude %>"
            lon="<%= user.longitude %>">
        </user-public-card>
    </div>
</div>


