<div class="userlist-page">

    <p class="page-head-text">Rechercher un(e) utilisateur-trice selon le style de musique, un instrument ou un pseudo</p>

    <hr>

    <% if (search_terms) { %> 
        <p>Terme: <%= search_terms %></p>
    <% } %> 
    <p><%= users.length %> users</p>

    <form action="" class="search-form">
        <input type="search" name="users" placeholder="name / instruments / style">
        <input type="submit" value="Search">
    </form>

    <hr>

    <ul class="user_list">
        <% for (let i=0; i < users.length; i++ ) { %>
        <!-- <li class="user_data_list"> -->
            <user-list-card 
                name="<%= users[i].username %>"
                musical-style="<%= users[i].style_text %>"
                instruments="<%= users[i].instruments_text %>"
                lat="<%= users[i].latitude %>" 
                lon="<%= users[i].longitude %>"
                <% if (users[i].active) { %>isactive<% } %>  
            ></user-list-card>
        <!-- </li> -->
        <% } %>
    </ul>

    <hr>

</div>