<div class="register_form_grid">

    <% if (!isLogin) { %>

        <!-- Username / Password / Repeat Password / City -->
        <div class="form-group">
            <label for="registration_pseudo" class="required">Pseudo</label>
            <input type="text" id="registration_pseudo" name="user_pseudo" maxlength="50" pattern=".{5,}"
                placeholder="Pseudo" class="form-control" value="<%= data && data.username %>" />

        </div>
        <div class="form-group">
            <label for="registration_place">Emplacement</label>
            <input type="text" id="registration_place" name="user_place" maxlength="100" pattern=".{5,}"
                placeholder="Ou habitez-vous ?" class="form-control" value="<%= data && data.user_place %>" />

        </div>
        <div class="form-group">
            <label for="registration_password" class="required">Mot de passe</label>
            <input type="password" id="registration_password" name="user_password" placeholder="Mot de passe"
                class="form-control" value="<%= data && data.user_pseudo %>" />

        </div>
        <div class="form-group">
            <label for="registration_confirm_password" class="required">Confirmez le mot de passe
            </label>
            <input type="password" id="registration_confirm_password" name="user_confirmPassword" required="required"
                placeholder="Confirmez le mot de passe" class="form-control" />

        </div>

    <% } else { %>

        <!-- Username / Email / City -->
        <div class="form-group">
            <label for="registration_pseudo">Pseudo</label>
            <p class="form-control"><%= data && data.username %></p>
        </div>
        <div class="form-group">
            <label for="registration_email">Email</label>
            <input type="email" id="registration_email" name="user_email" maxlength="100"
                placeholder="Votre email" class="form-control" value="<%= data && data.email %>" />
        </div>
        <div class="form-group">
            <label for="registration_place">Emplacement</label>
            <input type="text" id="registration_place" name="user_place" maxlength="100"
                placeholder="Ou habitez-vous ?" class="form-control" value="<%= data && data.place %>" />
        </div>

        <!-- Avatar -->
        <div class="avatar-form">
            <label for="registration_avatar_url">Choisissez un avatar qui vous représente</label>
            <image-list input-name="user_avatar_url" <% if (data.avatar_url) { %>
                selected="<%= data.avatar_url %> "
                    <% } %>
                        imageList="<%= filenames.join(",") %>">
            </image-list>
        </div>

        <!-- Instruments -->
        <div class="form-group">
            <label for="registration_instruments">Instrument(s principaux)
                pratiqué(s)</label>
            <custom-button 
                class="add-instrument hidden"
                type="success"
                size="XS">
                Ajouter
            </custom-button>
            <input type="text" id="registration_instruments" maxlength="255"
                placeholder="Quel instrument jouez-vous ?" autocomplete="off" class="form-control" />
            <!-- <p class="form-hint">séparez les instruments avec une &quot;,&quot; si plus d'un</p> -->
            <ul id="suggestions_instruments" class="suggestions-instrument"></ul>
            <input type="hidden" name="user_instruments" id="user_instruments" value="<%= data && data.instruments_text %>">
            <div class="element-array" id="user_instrument_display"></div>
        </div>

        <!-- Level -->
        <div class="form-group">
            <label for="registration_level">
                Niveau
            </label>
            <select id="registration_level" name="user_level" class="form-control" autocomplete="off">
                <% ["DEBUTANT", "AMATEUR" , "PRO" ].forEach(lvl=> { %>
                    <option value="<%= lvl %>" <% if (data.level && data.level===lvl) { %>selected<% } %>
                            >
                            <%= lvl.toLowerCase() %>
                    </option>
                    <% }) %>
            </select>
        </div>

        <!-- Styles -->
        <div class="form-group">
            <label for="registration_styles">Quel styles de musique écoutez-vous le plus ?
            </label>
            <custom-button 
                class="add-style hidden"
                type="success"
                size="XS">
                Ajouter
            </custom-button>
            <input type="text" id="registration_styles" maxlength="255"
                placeholder="Styles de musique écouté" autocomplete="off" class="form-control" />
            <ul id="suggestions_styles" class="suggestions-style"></ul>
            <input type="hidden" name="user_styles" id="user_styles" value="<%= data && data.style_text %>">
            <div class="element-array" id="user_style_display"></div>
        </div>

        <!-- Presentation -->
        <div class="form-group">
            <label for="registration_want_to_learn">Présentation</label>
            <textarea id="registration_want_to_learn" name="want_to_learn" maxlength="255"
                placeholder="Voulez-vous apprendre un instrument ? Créer un groupe ? Decrivez-vous en quelques mots !"
                autocomplete="off" class="form-control" row="5"
                style="height: 116px;"><%= data && data.want_to_learn %></textarea>
        </div>

    <% } %>

</div>

<input type="hidden" name="formtype" value="<%= formtype %>" />


<div class="center">
    <div class="valid_form">
        <% if (!isLogin) { %>
            <button type="submit" class="btn btn-login form-control ff-1">S'In<span>scr</span>ire</button>
            <p class="tiny_text">
                <span>Déjà inscrit ? </span>
                <custom-button link="/app/login" type="ternary" size="xs" rounded>
                    Connectez-vous
                </custom-button>
            </p>
        <% } else { %>
            <button type="submit" class="btn btn-login form-control ff-1">Mettre<span>a</span>jour</button>
        <% } %>
    </div>
</div>

<% if (isLogin) { %>
    <input type="hidden" id="var_instruments" value="<%= instruments %> ">
    <input type="hidden" id="var_styles" value="<%= styles %> ">

    <script>
        //INSTRUMENTS
        const instruments = JSON.parse(document.getElementById('var_instruments').value)
        const instrText = document.getElementById('registration_instruments')
        const instrumentList = document.getElementById('suggestions_instruments')
        let user_instruments = document.getElementById("user_instruments")
        let user_instrument_display = document.getElementById("user_instrument_display")
        let addInstrument = document.querySelector('.add-instrument')
        addInstrument.addEventListener('click', function(e) {
            user_instrument_display.append(renderUserChoice(instrText.value, user_instruments, user_instrument_display))
            instrText.value = ''
            addInstrument.classList.add("hidden")
        })
        //STYLES
        const styles = JSON.parse(document.getElementById('var_styles').value)
        const styleText = document.getElementById('registration_styles')
        const styleList = document.getElementById('suggestions_styles')
        let user_styles = document.getElementById("user_styles")
        let user_style_display = document.getElementById("user_style_display")
        let addStyle = document.querySelector('.add-style')
        addStyle.addEventListener('click', function(e) {
            user_style_display.append(renderUserChoice(styleText.value, user_styles, user_style_display))
            styleText.value = ""
            addStyle.classList.add("hidden")
        })

        const userInstruments = []
        const userStyles = []

        function getList(value, type) {
            if (type === 'instrument') {
                return instruments.map(n => n.includes(instrText.value) && n).filter(n => n)
            } else if (type === 'style') {s
                return styles.map(n => n.includes(instrText.value) && n).filter(n => n)
            }
        }

        instrText.onkeyup = setSugestedValue
        styleText.onkeyup = setSugestedValue

        let baseI = user_instruments.value.split(', ')
        let baseS = user_styles.value?.split(', ')
        if (baseI.length) {
            console.log("baseI: \n", baseI);
            baseI.map(bi => bi && user_instrument_display.append(renderUserChoice(bi, user_instruments, user_instrument_display)))
        }
        if (baseS.length) {
            console.log("baseS: \n", baseS);
            baseS.map(bs => bs && user_style_display.append(renderUserChoice(bs, user_styles, user_style_display)))
        }

        function setSugestedValue(e) {

            // console.log(e.target.id);
            // console.log("instruments: ", e.target.id === 'registration_instruments');
            // console.log("styles: ", e.target.id === 'registration_styles');
            // console.log(e.target.value);
             

            let elementList, elementChoices, elementText, elementType, user_element, user_element_display, addBtn;
            if (e.target.id === 'registration_instruments') {
                elementList = instrumentList
                elementChoices = instruments
                elementText = instrText
                elementType = 'instrument' 
                user_element = user_instruments
                user_element_display = user_instrument_display
                addBtn = addInstrument
            } else if (e.target.id === 'registration_styles') {
                elementList = styleList
                elementChoices = styles
                elementText = styleText
                elementType = 'style' 
                user_element = user_styles
                user_element_display = user_style_display
                addBtn = addStyle
            } else {
                throw new Error('No element list found..')
            }

            let isArray = this.value.indexOf(',') !== -1
            const baseValue = this.value
            let value = ''
            if (isArray) {
                value = this.value.split(',').pop()
            } else {
                value = this.value
            }
            const txt = value.trim()

            if (!txt) {
                elementList.style.display = "none";
                return;
            }

            let suggestions = 0;
            const frag = document.createDocumentFragment();

            for (var i = 0, c = elementChoices.length; i < c; i++) {

                // Si l'expression régulière correspond au nom de l'instrument
                if (new RegExp("^" + txt, "i").test(elementChoices[i])) {
                    addBtn.classList.add("hidden")
                    var word = document.createElement("li");
                    frag.appendChild(word);
                    word.innerHTML = elementChoices[i].replace(new RegExp("^(" + txt + ")", "i"), "<strong>$1</strong>");
                    word.mot = elementChoices[i];

                    word.onmousedown = function () {
                        this.mot = this.mot.trim()
                        elementText.focus();
                        switch (elementType) {
                            case 'instrument':
                                userInstruments.push(this.mot)
                                break;
                            case 'style':
                                userStyles.push(this.mot)
                            break;
                            default:
                                break;
                        }
                        // On retourne la vue
                        // user_element, user_element_display
                        let base = user_element.value
                        user_element_display.append(renderUserChoice(this.mot, user_element, user_element_display))
                        elementText.value = ''
                        // user_element.value = user_element.value + `, ${this.mot}`

                        console.log("user_element::", user_element);
                        
                        // elementText.value = isArray ? baseValue.slice(0, baseValue.lastIndexOf(",")) + ', ' + this.mot + ', ' : this.mot + ', ';
                        elementList.style.display = "none";

                        // On empêche la dé-sélection du champ
                        return false;
                    };

                    suggestions++;
                }
            }

            if (suggestions) {
                elementList.innerHTML = "";
                elementList.appendChild(frag);
                elementList.style.display = "block";
            }
            else {
                elementList.style.display = "none";
                addBtn.classList.remove("hidden")
            }

        };

        function renderUserChoice(word, userInput, display) {
            console.log("**********");
            word = word.trim().toLowerCase()
            console.log(word, userInput, display)

            let choice = document.createElement("div")
            choice.setAttribute('class', 'user-element-choice')

            const span = document.createElement("span")
            span.innerHTML = '&times;'
            span.addEventListener('click', function(e) {
                let tempValue = userInput.value.split(', ').map(e => {
                    if (e.toLowerCase() !== word) {
                        return e
                    }
                }).filter(n=>n)
                console.log("test:", tempValue);
                userInput.value = tempValue.length > 1 ? tempValue.join(', ') : tempValue.toString();
                console.log("userInput.value", userInput.value);
                choice.remove()
            })
            userInput.value = userInput.value + `, ${word}`
            choice.innerHTML = `${word}`
            choice.append(span)
            return choice;
        }
        
        //Quand l'utilisateur dé-sélectionne le champ
        instrText.onblur = function () {
            instrumentList.style.display = "none";
            if (this.value.trim() == "")
                this.value = "";
        };
        styleText.onblur = function () {
            styleList.style.display = "none";
            if (this.value.trim() == "")
                this.value = "";
        };

    </script>
    <% } %>