<div class="container">

    <h2>
        <% if (user) { %> 
            <%= user.username %>
        <% } %> 
    </h2>
    
    <div class="login-page">

        <h3>Entrez vos identifiants de connexion</h3>

        <% if (typeof locals !== 'undefined' && locals.flashmessage && locals.flashmessage.length) { %>
            <p class="alert_danger"><%= locals.flashmessage %></p> 
        <% } %> 

        <form name="login" method="post" class="m-5">
            <div class="form-group">
                <input style="max-width:20rem" class="form-control" type="text" placeholder="Pseudo" name="username" required="">
            </div>
            <br>
            <div class="form-group">
                <input style="max-width:20rem" class="form-control" type="password" placeholder="Mot de passe" name="password">
            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-login form-control ff-1">Rock <span> ON </span> Roll</button>
            </div>
        </form>

        <p class="tiny_text">
            <span>Pas encore inscrit ? </span>
            <custom-button
                link="/app/register"
                type="ternary"
                size="xs"
                rounded
                >
                Créer mon compte
            </custom-button>
        </p>

    </div>

</div>