<div class="registration-page">

	<h3 class="center">Inscrivez-vous, c'est rapide !</h3> 

	<% if (error) { %> 
		<p class="alert_danger"><%= error %></p>   
	<% } %> 
	
	<% if (typeof locals !== 'undefined' && locals.flashmessage && locals.flashmessage.length) { %>
		<p class="alert_danger"><%= locals.flashmessage %></p> 
	<% } %> 

	<form name="registration" method="post">
		<%- include('_register_form', { 
			formtype: 'create',
			data: data, 
			instruments: instruments, 
			styles: styles, 
			filenames, 
			isLogin: false 
			}) %> 
	</form>

</div>