<div class="home-page">
<% if (is_authenticated && user && user.username) { %>
    
    <p class="home-text">
        Hello
        <br>
        <span><%= user.username %></span>
    </p>

    <img class="home-user-avatar" src="<%= user.avatar_url %>" alt="">

<% } else { %>  
    <h1 class="text-title">Welcome</h1>

    <p class="home-text">Rejoins la communauté.</p>
    
    <div class="home-login">
        <% if (typeof locals !== 'undefined' && locals.flashmessage && locals.flashmessage.length) { %>
            <p class="alert_danger"><%= locals.flashmessage %></p> 
        <% } %> 

        <form name="login" method="post" action="/app/login" class="m-5">
            <div class="form-group">
                <input style="max-width:20rem" class="form-control" type="text" placeholder="Pseudo" name="username" required="">
            </div>
            <br>
            <div class="form-group">
                <input style="max-width:20rem" class="form-control" type="password" placeholder="Mot de passe" name="password">
            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-login form-control ff-1">Rock <span> ON </span> Roll</button>
            </div>
        </form>

        <p class="tiny_text">
            <span>Pas encore inscrit ? </span>
            <custom-button
                link="/app/register"
                type="ternary"
                size="xs"
                rounded
                >
                Créer mon compte
            </custom-button>
        </p>

    </div>
    <em class="light">Créer votre compte, ou connectez-vous pour jouer avec d'autres personnes !</em>
<% } %>  
</div>