<div class="register-avatar" id="<%= path %>">
    <img 
        src="<%= path %>"
        alt="<%= path.slice( path.lastIndexOf('/') + 1, path.length - 4) %>" 
        title="<%= path.slice( path.lastIndexOf('/') + 1, path.length - 4) %>"
    />
</div>
