<div class="container">
    <h2>Music-Styles :</h2>

    <div class="btn-row">
        <a class="btn" href="style/new">Miss one ?</a>
    </div>

    <% if (styles.length > 0) { %>
        <div class="style_list">
            <% styles.forEach( style => { %>
                <li><%= style.name %></li>
            <% }) %> 
        </div>
    <% } else { %> 
        <div class="warning">
            No Styles Found ...
        </div>
    <% } %> 

</div>