<div class="container">
    <h2>Add Music-Style</h2>

    <div class="form">
        
        <% if (typeof error !== 'undefined' && error) { %> 
            <p class="alert_danger"><%= error %></p>   
        <% } %> 

        <form action="/app/style" method="POST">
            <%- include('_form')  %>

            <div class="btn-form">
                <a href="/app/style" class="warning">Cancel</a>
                <input type="submit" class="btn" value="Add Style !">
            </div>
    </form>
</div>