<!DOCTYPE html>
<html lang="fr">

<head>
   <meta charset="UTF-8">
   <link rel="manifest" href="/js/pwa.webmanifest">
   <script async src="https://unpkg.com/pwacompat" crossorigin="anonymous"></script>
   <link rel="apple-touch-icon" href="/image/apple-touch.png">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="theme-color" content="#141415" />

   <title>Zicos</title>

   <!-- FONT -->
   <link href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/leaflet/leaflet.css" />

   <link rel="stylesheet" href="/css/main.css">
   <script src="/js/components/lib.js" type="module" defer></script>
   <script src="/leaflet/leaflet.js"></script>
   <script src="/js/pwa.js" defer></script>
   <script src="/js/status.js" defer></script>
</head>

<body>

   <!-- HEADER -->
   <header>
      <img src="/logo.png" alt="logo de l'application" class="logo">
      <div class="title"><%= page_title %></div>
      <!-- <div class="menu-btn">🔘</div> -->
   </header>

   <div id="geolocation_err" class="hidden"></div>

   <!-- MAIN -->
   <main>
      <img src="/icon/back-vinyl.svg" class="back-vinyl" alt="">
      <%- body %>
   </main>

   <!-- FOOTER -->
   <footer>
      <% if (is_authenticated) { %>
      <menu-button img="/icon/home.svg" link="/app/news"></menu-button>
      <menu-button img="/icon/search.svg" link="/app/account/user-list"></menu-button>
      <menu-button img="/icon/map.svg" link="/app/map"></menu-button>
      <menu-button 
         img="/icon/message.svg" 
         link="/app/messagerie" 
         <% if (typeof haveNewMessage === 'boolean' && haveNewMessage === true) { %>hasnews<% } %>
      >
      </menu-button>
      <menu-button img="/icon/account.svg" link="/app/account"></menu-button>
      <% } %>
   </footer>

   <!-- SIDE-MENU -->
   <menu class="hidden">
      <div class="header-menu">
         <h2>Menu</h2>
         <span class="close-menu">&times;</span>
      </div>
      <div class="menu-links">
      <% if (is_authenticated) { %>
         <a href="/app/news">
            <img src="/icon/home.svg" alt="home icon" width="25">
            Home
         </a>   
         <a href="/app/messagerie">
            <img src="/icon/message.svg" alt="message icon" width="25">
            Messagerie
         </a>
         <a href="/app/map">
            <img src="/icon/map.svg" alt="map icon" width="25">
            Geolocalisation
         </a>
         <a href="/app/account/user-list">
            <img src="/icon/search.svg" alt="search icon" width="25">
            Liste d'utilisateurs
         </a>
         <a href="/app/account">
            <img src="/icon/account.svg" alt="account icon" width="25">
            Mon compte
         </a>
         <a href="/app/logout">
            <img src="/icon/logout.svg" alt="connexion icon" width="25">
            Déconnexion
         </a>
      <%} else { %>
         <a href="/">
            <img src="/icon/home.svg" alt="home icon" width="25">
            Home
         </a>
         <a href="/app/news">
            <img src="/icon/account.svg" alt="news icon" width="25">
            Les News!
         </a>
         <a href="/app/register">
            <img src="/icon/signin.svg" alt="inscription icon" width="25">
            Inscription
         </a>
         <a href="/app/login">
            <img src="/icon/login.svg" alt="connexion icon" width="25">
            Connexion
         </a>
      <% } %>
      <% if (is_authenticated && user && typeof user.isAdmin != 'undefined' && user.isAdmin) { %>
         <a href="/administration">
            <img src="/icon/admin.svg" alt="admin icon" width="25">
            ADMIN
         </a>
      <% } %>
      </div>
   </menu>

   <!-- SCRIPT SIDE-MENU -->
   <script>
      document.querySelector('.logo').addEventListener('click', sideMenu)
      document.querySelector('.close-menu').addEventListener('click', sideMenu)
      function sideMenu() {
          document.querySelector('menu').classList.toggle('hidden')
      }
   </script>

   <script src="/js/installation.js" type="text/javascript"></script>
   <% if (is_authenticated && !user.update_location) { %>
      <script src="/js/reset-location.js" type="text/javascript"></script>
   <% } %>

   <script>
      console.log(window.location.pathname)
   </script>


   <!-- Loading Screen -->
   <!-- <style>
      #splash {
         background-color: var(--ternary);
         position: fixed;
         top: 0;
         height: 100vh;
         width: 100vw;
         z-index: 10;
         transition-property: top;
         transition-duration: 300ms;
         transition-delay: 300ms;
         transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
      }
   
      #splash.animate {
      top: -100vh;
      }
   </style>
   
   <script>
      document.addEventListener('DOMContentLoaded', () => {
      document.querySelector('#splash').addEventListener('transitionend', (event) => {
         event.target.remove();
      });
      requestAnimationFrame(() => {
         document.querySelector('#splash').classList.add('animate');
      });
      });
   </script>
   
   <div id="splash"></div> -->

</body>

</html>