<div class="form-group">
    <div class="form-item">
        <label>Name</label>
        <input type="text" name="name" class="form-control" value="<%= category.name %>">
    </div>
</div>
<div class="form-group">
    <div class="form-item">
        <label>Description</label>
        <textarea name="description" class="form-control">
            <%= category.description %>
        </textarea>
    </div>
</div>