<div class="container">
    <h2>All the Categories</h2>
    <div class="btn-row">
        <a class="btn" href="category/new">Add "News" Category</a>
    </div>
    <% if (categories.length > 0) { %> 
        <div class="category_list">
            <% categories.forEach( cat => { %> 
                <div class="category_item">
                    <h3><%= cat.name %></h3>
                    <p><%= cat.description %></p>
                </div>
            <% }) %>
        </div>
    <% } else { %> 
        <div class="warning">
            No Category Found ...
        </div>
    <% } %> 

</div>