<div class="container">
    <h2>Add Category</h2>

    <div class="form">
        <form action="/app/category" method="post">
            <%- include('_form')  %>

            <div class="btn-form">
                <a href="/app/category" class="warning">Cancel</a>
                <input type="submit" class="btn" value="Add Category !">
            </div>
        </form>
    </div>

</div>